<div class="container">

<table class="Media_tickets">
						<thead>
							<tr>
								<td><strong>Media Type</strong></td>
								<td><strong>Amount</strong></td>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td>Local</td>
							<td>$2.20</td>
						</tr>
						<tr>
							<td>LYNX</td>
							<td>$2.20</td>
						</tr>
						<tr>
							<td>Express (within Mecklenburg County)</td>
							<td>$3.00</td>
						</tr>
						<tr>
							<td>Express Plus (surrounding counties)</td>
							<td>$4.40</td>
						</tr>
						<tr>
							<td>STS(ADA)</td>
							<td>$3.50</td>
						</tr>
						<tr>
							<td>Reverse Commute Express</td>
							<td>$2.20</td>
						</tr>
						<tr>
							<td>Gold Rush</td>
							<td>FREE</td>
						</tr>
						<tr>
							<td>Village Riders, UNC Charlotte 49er,Beatties Ford, Eastland, Hidden Valley and 				other neighborhood services </td>
							<td>$.90</td>
						</tr>
						<tr>
							<td>People 62 years and up &amp; people with disabilities, with a valid Transit ID or Medicare Card.(Local/LYNX/Express/Express Plus)</td>
							<td>$1.10/$1.10/$1.50/$2.20</td>
						</tr>
						<tr>
							<td>Children 5 and under, accompanied by an adult</td>
							<td>FREE</td>
						</tr>
						<tr>
							<td>Youth/Student(grades K-12) with a valid school or Transit ID (Children 12 and under are to be accompanied by an adult)</td>
							<td>$1.10/$1.10/$1.50/$2.20</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>