
 <center><div class="container">
 	<h1>Welcome to Lynx!</h1>
 	<h3>Queen City's Best Light Rail App</h3>

 	<p>Developers: <a href="https://github.com/KristenLeake">Kristen Leake</a>, <a href="https://github.com/MGraham10327">Marcus Graham</a>, <a href="https://github.com/cdnorton1">Chris Norton</a></p>
 	</div></center>

 	
