
 <center><div class="container">
 	<h1>Welcome to Lynx!</h1>
 	<h3>Queen City's Best Light Rail App</h3>

 	<p>Developers: Kristen Leake, Marcus Graham, Chris Norton</p>
 	</div></center>

 	<link rel="stylesheet" type="text/css" href="normalize.css">
