<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Prices.css">
		
	</head>
	<body>
	<!-- class="row"
	class="col-md-4 flex" -->


	
<div class="container">
	<div class="tickets">
			<h1>TICKETS</h1>
			<h4>PROOF OF PAYMENT:</h4>
	<p>The LYNX Blue Line operates as a proof of payment fare collection system. You must possess a ticket or pass with a valid date and time in order to ride.  A valid monthly or weekly pass is also considered as proof of payment. 10-ride passes and STS yellow tickets are not valid on LYNX services.
	</p>
				<!-- <div class="myBox"> -->
					<!-- <div class="flex"> -->
				<table class="Fares">
					<thead> 
						<tr>
							<td>Lynx Fares</td>
							<td>Adult</td>
							<td>Senior</td>
							<td>Youth</td>
						</tr>
					</thead>
				</tbody>
						<tr>
							<td>One Ride Ticket</td>
							<td>$2.20</td>
							<td>$1.10</td>
							<td>$1.10</td>
						</tr>
						<tr>
							<td>Round Trip Ticket</td>
							<td>$4.40</td>
							<td>$2.20</td>
							<td>$2.20</td>
						</tr>
						<tr>
							<td>One Day Ticket (Unlimited Rides)</td>
							<td>$6.60</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
						<tr>
							<td>Seven Day Ticket (Unlimited Rides)</td>
							<td>$22.00</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
					</tbody>
				</table>
	</div>
		



					<!-- <div class="flex"> -->
						
				<!-- flex box closing div -->
	<div class="fare">		<!-- <br><br> -->

	<h4>FARE EVASION:</h4>
	<p>
	CATS' Fare Inspectors and Police Officers will check for valid tickets and passes aboard the LYNX Blue Line.  Remember to keep your ticket handy until exiting at your final destination. Customers purchasing and riding with a senior/disabled or youth/student ticket must provide a valid Medicare Card or transit id. Failure to possess a valid ticket or pass could result in a citation of $50 and you may face a Class 3 misdemeanor charge. If received a citation from CATS you can learn more about paying or appearing your citation by <a href="http://www.charmeck.org/city/charlotte/cats/fares/Pages/Transit-Citation-Payment.aspx" target="_blank">CLICKING HERE</a>.
	</p>


	</div>
</div>
	</body>
</html>
