/*First Table Row - Media / Prices */

/*<th style="border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); text-align: center; width: 20%; vertical-align: middle;"><p style="text-align: center;">
*/


/*COLOR SCHEME
NAVY #03033F
SAND/GOLD: #DAD4B9
RED/ORANGE: #BF725B*/



p {
	width: 800px;
	font-style: italic;

}


/* TABLE STYLES */
head, body {
	font-family: Helvetica;
	font-color: #BF725B;
}

thead {
    /*background-color: white;*/
	position: static;
	/*top: 300px;*/
    text-align: left;
/*	color: #03033F;*/
/*	font-size: 14px;*/
	padding: 10px 10;
/*	width: 45%;
*/}

table {
	width: 80%;
	/*background-color: white;*/
	/*margin: 20px auto;*/
	/*padding: 20px;*/
/*	border-radius: 20px 0;
}*//* don't use border-radius... will put table head and table body side-by-side*/
}

/*tr:nth-child(even) {
	background-color: rgb(75, 126, 190);
	/*height: 80px;*/
	/*border-bottom: 1px solid #03033F;*/
/*}*/

th:only-child {
	color: #0289d7;
	font-size: 1.5em;
	padding: 5px 0;
}

tbody {
	padding-top: 40px;
	position: static;
}

td {
    text-align: left;
	/*background-color: white;*/
	font-size: 14px;
	padding: 5px 0;
	width: 33%;
}
.container {
	background-color: rgba(218, 212, 185, 0.9);
	width: 80%;
	padding: 5px;
}

/*.flex {
	display: flex; 
	justify-content: space-around;
	border: 1px solid #03033F;
	align-items: center;
	/*flex-direction: row-reverse;*/
	/*flex-wrap: wrap;
}*/
/*.table striped{
	
}*/

.Fares thead tr td {
	font-weight: bold;
	border-bottom: .5px solid #A8A48F;
}

.Fares tbody tr td {
	border-bottom: .5px solid #A8A48F;
}

.tickets,
.fare {
	padding-left: 30px;
}

.tickets p,
.fare p {
	width: 100%;
}

.Media_tickets tbody tr td,
.Media_tickets thead tr td {
	border-bottom: .5px solid #A8A48F;
}

.Media_tickets {
	margin: 20px 5px;
}
