/*COLOR SCHEME
NAVY #03033F
SAND/GOLD: #DAD4B9
RED/ORANGE: #BF725B*/


/*css*/

/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
/*position: relative;*/
border: none;
padding: 5px;
/*padding-top: 80px;*/
/*width: 1000px;*/
height: 300px;
width: 1100px;
overflow: scroll;
}


/* TABLE STYLES */
head, body {
/*	font-family: Helvetica;*/
	font-color: #03033F;
}


thead {
   /* background-color: white;*/
	position: static;
	top: 300px;
    text-align: left;
	/*color: #03033F;*/
	font-size: 14px;
	padding: 10px 10;
}

tbody {
	padding-top: 40px;
	position: static;
	
}

th {
	border-bottom: 2px solid #A8A48F;
}


.table striped{
	width: 100%;
}

.weekdays table table-striped {
	width: 100%;
}



  
