<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap">
    </script>

<div id="map-container">
    <div id="floating-panel">
      <p id="start">
        <strong>Start:</strong>
        <option value="charlotte, nc">Current Location</option>
      </p>
      <br>
      <strong>End:</strong>
      <select id="end">
          <option>Select a station</option>
          <option value="7th St Station, Charlotte, NC">7th Street Station</option>
          <option value="CTC Station, Charlotte, NC">CTC Charlotte Transportation Center/Arena Station</option>
          <option value="3rd/ Convention Center Station, Charlotte, NC">3rd Street Station</option>
          <option value="Stonewall Station, Charlotte, NC">Stonewall Station</option>
          <option value="Carson Station, 1, Charlotte, NC">Carson Station</option>
          <option value="Bland Station, 1, Charlotte, NC">Bland Station</option>
          <option value="East/ West Station, 1, Charlotte, NC">East/West Station</option>
          <option value="New Bern Station, Charlotte, NC">New Bern Station</option>
          <option value="Scaleybark Station, Charlotte, NC">Scaleybark Station</option>
          <option value="Woodlawn Station, 1, Charlotte, NC">Woodlawn Station</option>
          <option value="Tyvola Station, Old Pineville Road, Charlotte, NC">Tyvola Station</option>
          <option value="Archdale Station">Archdale Station</option>
          <option value="Arrowood Station, Charlotte, NC">Arrowood Station</option>
          <option value="Sharon Rd West Station, 1, Charlotte, NC">Sharon Rd West Station</option>
          <option value="I-485 Station, Charlotte, NC">I-485 Station</option>
     </select>
    </div>
    <div id="right-panel"></div>
    <div id="map"></div>
</div>


